{% extends 'NetgenAdminUIBundle::pagelayout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    {% include 'SyliusUiBundle::_stylesheets.html.twig' with {'path': 'assets/admin/css/style.css'} %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/netgenadminuisylius/css/style.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% include 'SyliusUiBundle::_javascripts.html.twig' with {'path': 'assets/admin/js/app.js'} %}
{% endblock %}

{% block pre_content %}
    <div class="sylius-content">
        {% include 'SyliusUiBundle::_flashes.html.twig' %}
{% endblock %}

{% block post_content %}
    </div>

    {% include '@SyliusUi/Modal/_confirmation.html.twig' %}
{% endblock %}
