body {
    font-family:$baseFont;
}

.sylius-content {
    padding:25px $gutter $gutter;
}

.main-content {
    background:#f9fAfb;
}
.layout-column.left-column {
    width:$leftColumnWidth;
}

.sylius-sidebar.ui.vertical.menu {
    margin:0 -#{$gutter} -#{$gutter};
    border:none;
    border-radius:0;
    background:transparent;
    box-shadow:none;
    width:auto;
    font-family: $baseFont;
    .item {
        font-size:14px;
        .header {
            margin:0.5em 0 0;
        }
    }
    .menu {
        .item {
            padding:0.75em $gutter;
        }
    }
}

.sylius-top.ui.dropdown {
    float:right;
    padding:0.75em 0.25em;
    margin:10px $gutter 0;
    .menu {
        right:0;
        left:auto;
        min-width:100%;
    }
}

.ui.table {
    @media screen and (max-width: 1300px){
        font-size:12px;
        td {
            .ui.button, .ui.buttons .button, .ui.buttons .or {
                font-size:12px;
            }
        }
    }
}

.ui.statistic > .value,
.ui.statistics .statistic > .value {
    font-size:3em !important;
    @media screen and (max-width: 1300px) {
        font-size:2em !important;
    }
}

.ui.divided.grid:not([class*="vertically divided"]) {
    > .column:not(.row),
    > .row > .column {
        border-left:1px solid rgba(34,36,38,.15);
        box-shadow:none;
        &:first-child {
            border-left:none;
        }
    }
    @media screen and (max-width: 1100px){
        &.four {
            > .column:not(.row),
            > .row > .column {
                border-top:1px solid rgba(34,36,38,.15);
                &:first-child,
                &:nth-child(2) {
                    border-top:none;
                }
                &:nth-child(odd) {
                    border-left:none;
                }
            }
        }
    }
}

.ui[class*="four column"].grid {
    @media screen and (max-width: 1100px){
        > .column:not(.row),
        > .row > .column {
            width:50%;
        }
    }
}
.ui[class*="two column"].grid {
    @media screen and (max-width: 1250px){
        > .column:not(.row),
        > .row > .column {
            width:100%;
        }
    }
}
