.sylius-content {
    padding:25px $gutter $gutter;
}

.main-content {
    background:#f9fAfb;
}

.sylius-sidebar.ui.vertical.menu {
    margin:0 -#{$gutter} -#{$gutter};
    border:none;
    border-radius:0;
    background:transparent;
    box-shadow:none;
    width:auto;
    font-family: $baseFont;
    .item {
        font-size:14px;
        .header {
            margin:0.5em 0 0;
        }
    }
    .menu {
        .item {
            padding:0.75em $gutter;
        }
    }
}

.sylius-top.ui.dropdown {
    float:right;
    padding:0.75em 0.25em;
    margin:10px $gutter 0;
    .menu {
        right:0;
        left:auto;
        min-width:100%;
    }
}
