{% extends 'NetgenMoreBundle::pagelayout_resolver.html.twig' %}

{% set site_title = 'Sylius' %}

{% block stylesheets %}
    <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Open+Sans:300italic,400,300,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.css" type="text/css" />

    {% stylesheets output='assets/compiled/backend.css' filter='cssrewrite'
        'bundles/syliusweb/css/blueimp-gallery.css'
        'bundles/syliusweb/css/select2.css'
        'bundles/syliusweb/css/datepicker3.css'
        'bundles/syliusweb/css/backend.css'
        'bundles/syliusresource/css/form-collection.css'
        'bundles/netgenmoreadminuisylius/css/style.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}

    {{ parent() }}
{% endblock %}

{% block javascripts %}
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% javascripts output='assets/compiled/backend.js'
        'bundles/syliusreport/js/chart.js'
        'bundles/syliusweb/js/jquery.blueimp-gallery.min.js'
        'bundles/syliusweb/js/confirm-modal.js'
        'bundles/syliusweb/js/form-collection.js'
        'bundles/syliusweb/js/form-spinner.js'
        'bundles/syliusweb/js/select2.js'
        'bundles/syliusweb/js/bootstrap-datepicker.js'
        'bundles/syliusweb/js/backend.js'
        'bundles/syliusresource/js/form-collection.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {{ parent() }}
{% endblock %}

{% block pre_content %}
<div class="col-md-11 col-lg-10">
    <div id="topbar">
        {% block topbar %}
            {% include 'SyliusWebBundle:Backend:_breadcrumb.html.twig' %}
        {% endblock %}
    </div>

    <div id="content">
        {% include 'SyliusWebBundle:Backend:_flashes.html.twig' %}
{% endblock %}

{% block post_content %}
        {# Gallery modal #}
        {% include 'SyliusWebBundle::gallery.html.twig' %}

        {# Confirmation modal #}
        {% include 'SyliusWebBundle::confirm-modal.html.twig' %}
    </div>
</div>
{% endblock %}
