<li{% if active %} class="active"{% endif %}>
    <a href="{{ path( 'sylius_admin_dashboard' ) }}">
        <i class="fa fa-credit-card"></i>
        <span class="tt">{{ 'netgen_admin_ui_sylius.menu_plugin.name'|trans }}</span>
    </a>
</li>
