<div class="sylius-sidebar ui vertical menu">
    <a class="item" href="{{ path('sylius_admin_dashboard') }}"><b>Sylius</b></a>
    {{ knp_menu_render('sylius.admin.main', {'template': 'SyliusUiBundle:Menu:sidebar.html.twig'}) }}
</div>
