<div id="sidebar">
    <div class="sidebar-nav">
        {{ knp_menu_render( 'sylius.backend.sidebar', { 'template': 'SyliusWebBundle::menu.html.twig', 'currentClass': 'active' } ) }}
    </div>
</div>
