h4 {
	margin-bottom:10px;
}

#sidebar {
    margin-top:0; padding-top:0; background-color:$asideHover; margin-bottom:0; padding-bottom:30px;
    li {
    	a, a:visited {
    		color:$asideColor;
    	}
    	a {
    		&:hover, &:focus {
    			background:lighten($asideHover, 5%);
    		}
    	}
    	&.active {
    		background:$btnPrimary;
    		a, a:hover {
    			background:$btnPrimary; color:#fff;
    		}
    	}
    }
    span.nav-header {
    	border-color:rgba(255,255,255,.1); padding:1em 15px; text-align:left;
    }
}
.nav {
	margin:0;
	li {
		margin:0;
	}
}
.nav-tabs {
	margin:0 0 10px;
}
.nav-tabs {
	> li {
		margin-bottom:-1px;
	}
}

#main-column {
	#content {
		margin-left:0; padding-left:15px; padding-bottom:40px;
	}
}

#topbar {
	margin-left:0; padding:15px;
	.breadcrumb {
		padding:0; font-size:12px;
		li {
			+ li:before {
				content:"/\00a0"; padding:0 4px; color:#999;
			}
		}
	}
}

.dropdown-menu {
	border:none; -moz-box-shadow:0 6px 12px rgba(0, 0, 0, 0.175); -webkit-box-shadow:0 6px 12px rgba(0, 0, 0, 0.175); box-shadow:0 6px 12px rgba(0, 0, 0, 0.175);
}

.table {
	thead {
		tr {
			th {
				background:$thBg !important; color:#fff; font-weight:600; font-size:12px; border:none; padding:10px 8px;
				a {
					color:#fff !important; text-decoration:underline;
				}
			}
		}
	}
	.media {
		img {
			margin:0 10px 0 0;
		}
	}
	.btn {
		margin-bottom:4px;
	}
	p {
		margin-top:0;
	}
}
.table > thead > tr > td.info, .table > thead > tr.info > td, .table > tbody > tr > td.info, .table > tbody > tr.info > td, .table > tfoot > tr > td.info, .table > tfoot > tr.info > td {
	background:#f5f5f5;
}

.sylius-products-table {
	.name {
	}
}

.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
	border-color:#eee; color:#999;
}
.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
	border-color:$btnPrimary; background:$btnPrimary;
}

.form-filter {
	padding:12px 15px; background:$lightBg; margin-left:0; margin-right:0;
	.form-group {
		margin-top:3px; margin-bottom:3px;
		.form-control {
			width:100%;
		}
	}
}

img {
	max-width:100%;
}
label {
	white-space:initial;
}

.btn {
	text-transform:none;
}
.main-content {
	.btn {
		text-transform:capitalize;
	}
}
.btn-success, .btn-danger {
	border-color:#DDD; background:#F5F5F5; color:#333;
	&:hover, &:focus, &:active, &:active:focus {
		border-color:#ccc; background:#eee; color:#333;
	}
}
a {
	color:#337ab7;
	&:hover, &:focus {
		color:#23527c;
	}
}
.list-unstyled {
	margin:0 0 10px 1.25em;
}
.list-group {
	.list-unstyled {
		.btn {
			margin-top:6px;
		}
	}
}

@media (max-width: 1350px) {
	#sidebar {
		li {
			a {
				font-size:1em; text-align:left;
				i {
					margin-right:5px;
				}
				span {
					display:inline-block;
				}
				&:hover {
					span {
						display:inline-block; position:static; z-index:auto; background:transparent; -moz-border-radius:0; -webkit-border-radius:0; border-radius:0; font-size:inherit; padding:0; left:0;
					}
				}
			}
		}
		span.nav-header {
			span {
				display:block;
			}
		}
	}
	.btn {
		span {
		    display:inline-block;
		}
		i {
			margin-right:5px;
		}
	}
	.table {
		th, td {
			font-size:0.9285714286em;
		}
		td {
			word-wrap:break-word;
			.btn {
				display:block; width:100%;
			}
			a {
				font-size:12px;
			}
		}
		.btn:not(.btn-lg):not(.btn-sm):not(.btn-xs) {
			line-height:1.4285714286; font-size:0.8461538462em;
		}
		.media-body {
			clear:both;
		}
		.media {
			img {
				margin:0 0 6px 0;
			}
		}
	}
	.sylius-products-table {
		.name {
			font-size:1.0769230769em;
		}
	}
	.page-header {
		h1 {
			small {
				display:block; font-size:14px;
			}
		}
	}
	.form-horizontal {
		select.form-control {
			margin-bottom:6px;
		}
	}
}
@media (max-width: 1280px) {
	label {
		//word-break:break-word;
	}
}